.vs/Papeleria/v14/.suo
Papeleria/bin/Debug/FuncionesGenerales.pdb
Papeleria/bin/Debug/Papeleria.exe
Papeleria/bin/Debug/Papeleria.pdb
Papeleria/obj/Debug/Papeleria.csproj.FileListAbsolute.txt
Papeleria/obj/Debug/Papeleria.csproj.GenerateResource.Cache
Papeleria/obj/Debug/Papeleria.csprojResolveAssemblyReference.cache
Papeleria/obj/Debug/Papeleria.exe
Papeleria/obj/Debug/Papeleria.pdb